@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');

:root{
    --blue-color: #007BE9;
    --dark-blue-color: #55597D;
    --hover-blue-color-button: #045ba9;
    --dark-text-color: #222222;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 92px;
}

.header_img{
    width: 100%;
}

.backgound_banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70px;
    right: 12px;
    background: #1BB80D;
    width: 50px;
    height: 48.84px;
    border-radius: 50px;
    outline: none;
    border: 0;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.2);
}

.phone:hover{
    background: #17970b;
}

.banner{
    position: absolute;
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo img{
    width: 100%;
    height: 100%;
}

.scroll{
    position: relative;
    top: 85px;
}

.scroll p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    line-height: 35.72px;
    margin: 0;
}

.scroll ::after{
    content: '';
    position: absolute;
    background: url(../img/down.png);
    width: 12px;
    height: 39px;
    top: 100%;
}


/* Out Projects */

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 47.46px;
}

.projects h2{
    margin: 0;
    font-size: 54px;
    font-family: 'Bitter', serif;
    font-weight: 700;
    line-height: 72.38px;
}

.projects p{
    margin: 0;
    font-size: 20px;
    font-family: 'Bitter', serif;
    font-weight: 400;
    line-height: 33.78px;
}

.menu_projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41.55px;
}

.menu_projects ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 57px;
}

.menu_projects li{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    margin-left: 21px;
    border-bottom: 1px dashed #000;
    cursor: pointer;
}

.menu_projects li:nth-child(1){
    margin-left: 0;
}

.menu_projects li:hover{
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.btn-watch{
    right: 57px;
    position: relative;
    border: 2px solid var(--blue-color);
    width: 286.59px;
    height: 44.6px;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--blue-color);
}

.block_projects{
    padding: 0px 11px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 22px;
    margin-bottom: 30px;
}

.block1{
    display: flex;
    align-items: flex-end;
    width: 824px;
    height: 602px;
    position: relative;
    cursor: pointer;
}

.block1:hover:before, .block_mini:hover:before {
    background: #007be9b3;
    transform: matrix(1,0,0,-1,0,0);
    height: 100%;
}

.block1:before, .block_mini:before {
    content: "";
    position: absolute;
    opacity: .9;
    transform: matrix(1,0,0,-1,0,0);
    width: 100%;
    bottom: 0;
    height: 80%;
    transition: .7s;
}

.section_poroject_top {
    display: flex;
}

.top_text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 46px;
}

.top_text span:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C21010;
    width: 223px;
    height: 26px;
    margin-bottom: 10px;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.top_text span:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    background: #355085;
    width: 223px;
    height: 26px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.description{
    width: 824px;
    position: absolute;
    background: linear-gradient(0deg, #262626 0%, rgba(29, 29, 29, 0) 100%);
    opacity: 0.9;
}

.description h2{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #fff;
    margin-left: 26px;
}

.description p{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    width: 748px;
    height: 48px;
    margin-left: 26px;
}

.description::after{
    content: '';
    background: #FFFFFF;
    width: 112px;
    height: 2px;
    left: 27px;
    bottom: 75px;
    position: absolute;
}

.block_mini{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
}

.block_mini img{
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.block2 {
    display: flex;
    justify-content: center;
    column-gap: 28px;
    padding: 0px 11px;
    margin-bottom: 80.4px;
}

.top_text_realized{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 46px;
}

.top_text_realized{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-blue-color);
    width: 223px;
    height: 26px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.description_mini{
    width: 100%;
    position: absolute;
    background: linear-gradient(0deg, #262626 0%, rgba(29, 29, 29, 0) 100%);
    opacity: 0.9;
}

.description_mini h2{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-left: 26px;
}

.description_mini::after{
    content: '';
    background: #FFFFFF;
    width: 50px;
    height: 2px;
    left: 27px;
    position: absolute;
    bottom: 10px;
}

.builder_info{
    display: flex;
    justify-content: center;
    padding: 0px 30px;
    margin-bottom: 123.26px;
}

.info{
    display: flex;
    flex-direction: column;
}

.info h2{
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 60px;
    width: 368.58px;
}
.info p{
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
    width: 368.58px;
}

.info button{
    background: var(--blue-color);
    border-radius: 6px;
    color: #fff;
    width: 279.88px;
    height: 52.16px;
    border: 0;
    cursor: pointer;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
}

.info button:hover{
    background: var(--hover-blue-color-button);
}

.skills{
    width: 856px;
    display: flex;
    position: relative;
}

.skills img{
    width: 856px;
    height: 580.47px;
}

.nizhe{
    top: 30px;
    padding-top: 30px;
}

.vyshe{
    top: -30px;
    padding-top: 90px;
}

.column{
    width: 50%;
    background-color: var(--blue-color);
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-bottom: 40px;
    background-image: url(https://mabex.kz/storage/app/media/tochkinafone.svg);
    background-repeat: no-repeat;
}

.nizhe .block_column:before {
    content: "";
    width: 11px;
    height: 100px;
    background: url(https://mabex.kz/storage/app/media/granica.svg) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

.block_column{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 60px;
    position: relative;
    min-height: 100px;
}

.block_column img{
    width: 75.6px;
    height: 75.6px;
    margin-right: 15px;
}

.block_column h3{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.consultation{
    display: flex;
    flex-direction: column;
    margin-bottom: 13.62px;
    position: relative;
}

.consultation::before{
    content: "";
    background: #2b2b2b99;
    position: absolute;
    width: 100%;
    height: 100%;
}

.block_consultation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.block_consultation img{
    width: 544.91px;
    height: 543.74px;
    position: relative;
    bottom: 73px;
}


.block_consultation_info{
    display: flex;
    flex-direction: column;
    margin-left: 59.41px;
}

.block_consultation_info h2{
    
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 62px;
    color: #fff;
    margin: 60.68px 0 13.62px 0;
}

.block_consultation_info p{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

.consultation_inputs{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.consultation_inputs input{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    width: 204.24px;
    height: 48px;
    outline: none;
    border: 0;
    color: #6F7B8E;
    padding-left: 25px;
}

.consultation_inputs input:nth-child(2){
    width: 165.76px !important;
}

.consultation_inputs button{
    background: var(--blue-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 6px;
    outline: none;
    width: 180px;
    height: 48px;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

.consultation_inputs button:hover{
    background: var(--hover-blue-color-button);
}

.offer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 11px;
}

.offer_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer_text h2{
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 72px;
    margin-bottom: 1.94px;
}

.offer_text p{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #444444;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.banner_slider{
    width: 396px;
    height: 266.65px;
    background: #EEDB4D;
}

.slider_img img{
    width: 396px;
    height: 266.65px;
}


.achievements{
    background-image: url(../img/Group_905.png);
    height: 462.3px;
}

.achievements_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievements_title h2{
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 72px;

    display: flex;
    justify-content: center;

    color: var(--dark-text-color);
    margin-bottom: 1.94px;
}

.achievements_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 40px;
}

.achievements_title p{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    
    display: flex;
    align-items: center;
    text-align: center;
}

.achievements_text ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    position: relative;
}

.title h2{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 64px;
    color: var(--blue-color);
    margin: 0;
}

.achievements_text p{
    margin-left: 16.75px;
    width: 151.26px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: var(--dark-text-color);
}

.achievements_text span{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    color: var(--blue-color);
}

.achievements_text li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.li_achievements{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: #dee6efb3;
    z-index: -1;
    border-radius: 50%;
    left: -10px;
}

.banner_apartment{
    display: flex;
    flex-direction: column;
    margin-bottom: 53.08px;
    position: relative;
}

.banner_apartment::before{
    content: "";
    background: #2b2b2b99;
    position: absolute;
    width: 100%;
    height: 100%;
}

.block_banner_apartment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.block_banner_apartment img{
    width: 544.91px;
    height: 543.74px;
    position: relative;
    bottom: 170px;
}

.banner_apartment_info{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.banner_apartment_info h2{
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 62px;
    margin: 0;
    color: #fff;
    margin-top: 56.48px;
}

.banner_apartment_info p{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 26.71px;
    width: 625.59px;
}

.banner_apartment_button{
    background: var(--blue-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 6px;
    outline: none;
    width: 279.88px;
    height: 52.16px;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

.banner_apartment_button:hover{
    background: var(--hover-blue-color-button);
}

.block_partners{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.partners_title{
    margin: 0 70.54px;
    position: relative;
    bottom: 25px;
}

.partners_title h2{
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: var(--dark-text-color);
    width: 173.35px;
}

.partners_img img{
    max-height: 110px;
    object-fit: contain;
}

.partners_slider{
    width: 70% !important;
}

.owl-stage {
    display: flex;
    align-items: center;
}

.owl-theme .owl-nav.disabled+.owl-dots{
    margin: 15px 0 !important;
}

footer{
    height: 375.97px;
    background: #1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block1_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 57px;
    margin-right: 74.33px;
}

.title_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title_footer h2{
    margin-left: 12.32px;
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24.2196px;
    line-height: 29px;
    text-transform: uppercase;

    color: #D9D9D9;

}

.block1_footer p{
    width: 401.92px;
    height: 88px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #BDBDBD;
}

.bottom_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #fff;
    height: 77.97px;
}

.copyright{
    display: flex;
    align-items: center;
    margin-left: 56px;
}

.copyright span{
    border: 1px solid #fff;
    font-size: 22px;
    border-radius: 50px;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.copyright p{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 11px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 88px;
}

.social i{
    margin-left: 24px;
    color: #FFFFFF;
    font-size: 21px;
    cursor: pointer;
}

.block2_footer {
    margin-right: 175.23px;
}

.main_block_footer{
    display: flex;
    justify-content: space-evenly;  
}

.title_footer_menu h3{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px; 
    color: #FFFFFF;
    opacity: 0.4;
}

.title_footer_menu h3::after{
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #FFFFFF;
    opacity: 0.4;
    display: flex;
    margin-top: 5px;
}

.block2_footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 152px;
    column-gap: 42.32px;
}

.block2_footer li{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    color: #FFFFFF;
    cursor: pointer;
}

.block3_footer {
    margin-right: 66.2px;
}

.block3_footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 152px;
    column-gap: 42.32px;
}

.block3_footer li{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    color: #FFFFFF;
    cursor: pointer;
    border-bottom: transparent 1px solid;
}

.block3_footer li:hover{
    font-weight: 600;
    border-bottom: 1px #fff solid;
}

.block4_footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 152px;
    column-gap: 42.32px;
}

.block4_footer li{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    color: #FFFFFF;
}

.pd_menu{
    padding: 40px 0;
}

.li_icon {
    display: flex;
    align-items: flex-start;
    position: relative;
    left: -15px;
}

.li_icon img{
    position: relative;
    top: 10px;
    right: 15.75px;
}

.li_wh li:nth-child(2){
    width: 244px;
}